.filter_wrapper .filter_block .desc .price_filter_block {padding:0px 0px 20px;}
.filter_wrapper .filter_block .desc .price_filter_block .inp_block{width:48%; border:1px solid #E5E5E5; border-radius:3px; height:20px; position:relative; background:#fff; padding:7px 0px;}
.filter_wrapper .filter_block .desc .price_filter_block .from{float:left;}
.filter_wrapper .filter_block .desc .price_filter_block .to{float:right;}
.filter_wrapper .filter_block .desc .price_filter_block .inp_block input{font:13px 'OpenSans'; line-height:20px; color:#393937; border:0px; background:#fff; padding:0px 28px 0px; width:100%; box-sizing:border-box; }
.filter_wrapper .filter_block .desc .price_filter_block .from input{color:#A9A3A3}
.filter_wrapper .filter_block .desc .price_filter_block .inp_block .t{ position:absolute; display:block; font:13px 'OpenSans'; line-height:20px; color:#393937; top:7px; left:9px;}
.filter_wrapper .filter_block .desc .price_filter_block .inp_block .close{ position:absolute; top:12px; right:8px; display:block; width:10px; height:10px; background:url(../img/catalog_filter_close.png) no-repeat center center; cursor:pointer;}
.filter_wrapper .filter_block .desc .price_filter_block #price_slider{margin-top:30px;}
.best_action_wrapper .best_action_contnet .left .best_action .countdown #sale{ background:#1C1B19; border:0px;}
.actions_article_wrapper .actions_article_desc .action_desc .countdown #sale{ background:#1C1B19; border-radius:5px; overflow:hidden; height:60px;border:0px;}
.actions_article_wrapper .actions_article_desc .action_desc .countdown #sale .n{float:left; width:58px; text-align:center; font:10px 'OpenSans'; line-height:12px; color:#FFFFFF; padding:9px 0px 0px;}
.actions_article_wrapper .actions_article_desc .action_desc .countdown #sale .n span{font:30px 'RobotoSlab'; line-height:30px; font-weight:400; color:#0BC153; display:block; }
.actions_article_wrapper .actions_article_desc .action_desc .countdown #sale .dot{width:3px; height:60px; background:url(../img/cataloc_act_countdown_dot.png) no-repeat center 18px #000000; float:left;}
.catalog_wrapper .content .action_block .action_inner .countdown #sale{ background:#1C1B19; border:0px;}
.filter_wrapper .filter_block .desc .sost_filter_block{padding:0px 0px 20px;}
.filter_wrapper .filter_block .desc .sost_filter_block .inp_block_wrapper{ position:relative;}
.filter_wrapper .filter_block .desc .sost_filter_block .inp_block{width:48%; border:1px solid #E5E5E5; border-radius:3px; height:20px; position:relative; background:#fff; padding:7px 0px;}
.filter_wrapper .filter_block .desc .sost_filter_block .arab{float:left;}
.filter_wrapper .filter_block .desc .sost_filter_block .rob{float:right;}
.filter_wrapper .filter_block .desc .sost_filter_block .inp_block input{font:13px 'OpenSans'; line-height:20px; color:#A8A4A3; border:0px; background:#fff; padding:0px 10px 0px 68px; width:100%; box-sizing:border-box; }
.filter_wrapper .filter_block .desc .sost_filter_block .inp_block .t{ position:absolute; display:block; font:13px 'OpenSans'; line-height:20px; color:#393937; top:7px; left:11px;}
.filter_wrapper .filter_block .desc .sost_filter_block #consist_slider{margin-top:30px; background:#FFAC38}
.filter_wrapper .filter_block .desc .sost_filter_block .inp_block_wrapper .exch{display:block; width:26px; height:26px; border-radius:2px; background: url(../img/catalog_sost_exch.png) no-repeat center center #F0EBE7; position:absolute; top:5px; left:50%; margin-left:-13px; opacity:0.9; cursor:pointer;}
.filter_wrapper .filter_block .desc .sost_filter_block .inp_block_wrapper .exch:hover{ opacity:1;}
.prod_info_cent .rating {margin:5px 0px 0px; text-align:center;}
.prod_info_cent .rating .stars{width:95px; margin:0px 2px; display:inline-block; height:13px; background:url(../img/ico_star_b.png) repeat-x bottom left;}
.prod_info_cent .rating .stars .inner{ height:13px; background:url(../img/ico_star_b.png) repeat-x top left;}
.prod_info_cent .rating .comm{display:inline-block; font:12px 'OpenSans'; line-height:14px; margin:0px 2px; }
.prod_info_cent .rating .comm a{color:#999999; text-decoration:none; border-bottom:1px dashed #AAA4A4;}
.prod_info_cent .rating .comm a:hover{ border-bottom:0px;}
.best_action_wrapper .best_action_contnet .left .best_action .countdown #hotSale{ background:#1C1B19; border:0px;}
.filter_wrapper .filter_block .desc .price_filter_block, .filter_wrapper .filter_block .desc .sost_filter_block{ position:relative;}
.popup_wrapper > .popup_new_enter .enter_list #login-error1{width:200px; font:12px 'OpenSans'; line-height:16px; color:#000; border:1px solid #E5E5E5; background:#fff; padding:5px 10px; text-align:left; border-radius:5px; margin:0px auto 14px; position:relative;}
.popup_wrapper > .popup_new_enter .enter_list #login-error1::before{content:''; display:block; width:0px; height:0px; border-top:8px solid #E5E5E5; border-left:8px solid transparent; border-right:8px solid transparent; position:absolute; left:50%; margin-left:-8px; bottom:-8px;}
/*NEW66*/.popup_wrapper > .popup_new_enter .enter_list #login-error1::after{content:''; display:block; width:0px; height:0px; border-top:7px solid #FFF; border-right:7px solid transparent;  border-left:7px solid transparent; position:absolute; left:50%; margin-left:-7px; bottom:-7px;}
/*NEW66*/.popup_wrapper > .popup_new_register_sms #login-error2{width:200px; font:12px 'OpenSans'; line-height:16px; color:#000; border:1px solid #E5E5E5; background:#fff; padding:5px 10px; text-align:left; border-radius:5px; margin:0px auto 14px; position:relative;}
/*NEW66*/.popup_wrapper > .popup_new_register_sms #login-error2::before{content:''; display:block; width:0px; height:0px; border-top:8px solid #E5E5E5; border-left:8px solid transparent; border-right:8px solid transparent; position:absolute; left:50%; margin-left:-8px; bottom:-8px;}
/*NEW66*/.popup_wrapper > .popup_new_register_sms #login-error2::after{content:''; display:block; width:0px; height:0px; border-top:7px solid #FFF; border-right:7px solid transparent;  border-left:7px solid transparent; position:absolute; left:50%; margin-left:-7px; bottom:-7px;}

#body .messages {display:none}

/*NEW104*/
.comment_list_wrapper{padding:1px 0px 15px;}
.thank_wrapper .also_buy_wrapper .also_buy_slider .bx_slider .in .add_link{ overflow:hidden;}
.thank_wrapper .also_buy_wrapper .also_buy_slider .bx_slider .in .add_link a{width:90px; height:30px; display:block; line-height:30px;}
.comment_block .img_block .name{text-overflow: ellipsis; overflow: hidden;}
@media screen and (max-width: 639px){
    #top_block{padding-bottom:0px;}
    #top_block .top_phone_block{display:none;}
    #top_block .user_menu{margin:0px;}
    #top_block .user_menu li{padding:11px 0px 13px;}
    #top_block .user_menu .menu .sv, .head_phone_block{display:block;}
    #top_block .user_menu .menu .sv{border-left:1px solid #34332E; margin-left:8px;}
    #top_block .user_menu .menu .sv a{padding:4px 0px 5px 38px; background-position:18px center;}
    .head_phone_block{width:220px; float:left; margin:0px 0px 0px 25px;}
}
@media screen and (max-width:399px) {
    .head_phone_block {
        width: 170px;
        float: left;
        margin: 0px 0px 0px 10px;
    }

    .head_phone_block .phone_list {
        width: 110px;
        font-size: 14px;
        margin: 5px 0px 0px 5px;
    }

    .head_prod_wrapper .head_prod_cart {
        margin-left: 0px;
        padding-left: 5px;
    }

    .catalog_art_block_list > li .product_block .desc_block .name {
        height: 36px;
        overflow: hidden;
    }
}
.dost_wrapper .dost_radio .free_shipping .free_dost_line{margin:12px 0px 0px 0px; font:14px 'OpenSans'; line-height:20px; color:#605B57; font-weight:600;padding: 7px 0 0 135px;}
.dost_wrapper .dost_radio .free_dost_bl .free_shipping .free_dost_line{display:none;}
.dost_wrapper .dost_radio .free_shipping .free_dost_line span{font-weight:700; color:#000; text-transform:uppercase;}
.dost_wrapper .dost_radio .free_shipping .free_dost_line .line_block{margin:7px 0px 0px 0px; font:12px 'OpenSans'; line-height:20px; color:#111111; width:230px; }
.dost_wrapper .dost_radio .free_shipping .free_dost_line .line_block .f{float:left;}
.dost_wrapper .dost_radio .free_shipping .free_dost_line .line_block .t{float:right;}
.dost_wrapper .dost_radio .free_shipping .free_dost_line .line_block .line{width:100%; background:#E1E1E1; border-radius:2.5px; height:5px;}
.dost_wrapper .dost_radio .free_shipping .free_dost_line .line_block .line .inner{ border-radius:2.5px; background:#0EA74D; height:5px;}